{# This is just a good default pattern to follow when creating content blocks. You can delete this file. #}

<section class="relative {{ background.class }}">
    <div class="py-12 md:py-24">
        <div class="container">
            {# Module Content #}
            <header class="mb-8">
                <h2 class="text-4xl sm:text-5xl md:text-6xl font-display">Block Heading</h2>
            </header>
            <p>Lorem ipsum, dolor sit amet consectetur, adipisicing elit. Culpa, explicabo numquam. Labore provident unde non facere rem odio, qui eum dicta nostrum quo voluptatem cum harum magni deserunt quod error.</p>
            {# End Module Content #}
        </div>
    </div>
</section>
