{% import 'helpers/_macros.twig' as macros %}

{% set regex = '/src="([^"]+)"/m' %}
{% set replace = 'srcset="$1?auto=compress,format&width=848, $1?auto=compress,format&width=1696 2x"' %}

<section class="relative {{ macros.swatch(block.background, ['class', 'text']) }}">
    <div class="{{ padding }}">
        <div class="container container-sm">
            <div class="prose">
                {% apply replace(regex, replace)|raw %}
                    {% apply replace('src="' ~ getenv('AWS_CLOUDFRONT_URL'), 'src="' ~ getenv('IMGIX_URL'))|raw %}
                        {{ block.richText }}
                    {% endapply %}
                {% endapply %}
            </div>
        </div>
    </div>
</section>
