{% set embed = craft.videoEmbedder.getEmbedUrl(block.embed) %}

{% if embed|length %}
    <section class="relative {{ background.class }}">
        <div class="{{ padding }}">
            <div class="container container-sm">
                <div class="video">
                    <iframe src="{{ embed }}?rel=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </section>
{% endif %}
