<section class="relative {{ background.class }}">
    <div class="py-8 md:py-16">
        <div class="container container-sm">
            <div class="wysiwyg wysiwyg-user">
                {{ block.wysiwyg }}
            </div>
        </div>
    </div>
</section>
