.container {
    position: relative;
    max-width: 1188px;
    width: calc(100% - 8rem);
    margin: 0 auto;

    @include mq-below(x-small) {
        width: calc(100% - 4rem);
    }


    @include mq-below(tiny) {
        width: calc(100% - 2rem);
    }

    &.container-medium {
        max-width: 1075px;
    }

    &.container-xsmall {
        max-width: 840px;
    }

    &.container-small {
         max-width: 895px;
    }

    &.container-mid-small {
        max-width: 950px;
    }

    &.container-large {
        max-width: 1385px;
    }
}
