html {
    // This allows 1rem = 10px
    font-size: 62.5%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
}
