@layer utilities {
    .intro {
        @apply opacity-0;
    }

    .intro-active {
        @apply opacity-100 ease-out;
        transition-duration: 800ms;
        transition-property: transform, clip-path, opacity;

        &[class*="intro-slide"] {
            transition-duration: 800ms, 500ms, 400ms;
            transform: translate(0) !important;
        }

        &[class*="intro-wipe"]{
            transition-duration: 800ms, 500ms, 400ms;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;
            /* top-left, top-right, bottom-right, bottom-left */
        }
    }

    .intro-slide-left {
        @apply motion-safe:translate-x-[calc(5%+25px)];
    }

    .intro-slide-right {
        @apply motion-safe:translate-x-[calc(-5%-25px)];
    }

    .intro-slide-up {
        @apply motion-safe:translate-y-[calc(5%+25px)];
    }

    .intro-slide-down {
        @apply motion-safe:translate-y-[calc(-5%-25px)];
    }

    .intro-wipe-left {
        @apply motion-safe:[clip-path:polygon(100%_0,_100%_0,_100%_100%,_100%_100%)];
    }

    .intro-wipe-right {
        @apply motion-safe:[clip-path:polygon(0_0,_0_0,_0_100%,_0_100%)];
    }

    .intro-wipe-up {
        @apply motion-safe:[clip-path:polygon(0_100%,_100%_100%,_100%_100%,_0_100%)];
    }

    .intro-wipe-down {
        @apply motion-safe:[clip-path:polygon(0_0,_100%_0,_100%_0,_0_0)];
    }
}
