@layer utilities {
    .intro {
        @apply opacity-0;
    }

    .intro-active {
        @apply opacity-100 ease-out;
        transition-duration: 800ms;
        transition-property: transform, clip-path, opacity;

        &[class*="intro-slide"] {
            transition-duration: 800ms, 500ms, 400ms;
            transform: translate(0) !important;
        }

        &[class*="intro-wipe"]{
            transition-duration: 800ms, 500ms, 400ms;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;
            /* top-left, top-right, bottom-right, bottom-left */
        }
    }

    @screen motion-safe {
        .intro-slide-left {
            transform: translateX(calc(5% + 25px));
        }

        .intro-slide-right {
            transform: translateX(calc(-5% - 25px));
        }

        .intro-slide-up {
            transform: translateY(calc(5% + 25px));
        }

        .intro-slide-down {
            transform: translateY(calc(-5% - 25px));
        }

        .intro-wipe-left {
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
        }

        .intro-wipe-right {
            clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
        }

        .intro-wipe-up {
            clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
        }

        .intro-wipe-down {
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        }
    }
}
