@layer components {
    .navbar {
        @apply flex flex-row;
    }

    .navbar-container {
        @apply container container-lg;
    }

    .navbar-inner {
        @apply flex items-center justify-between;
    }

    .navbar-logo {
        @apply relative z-50 mr-8 py-4 text-3xl;
        max-width: 33.3333%;
    }

    .navbar-nav {
        @apply hidden;
        @apply lg:flex lg:items-center lg:justify-end lg:h-20;
    }

    .navbar-item {
        @apply ml-4;

        &:last-of-type {
            @apply ml-8;

            & .navbar-link {
                @apply button button-blue;
            }
        }
    }

    .navbar-link {
        @apply block w-full px-4 py-2 text-sm tracking-wide font-bold uppercase cursor-pointer whitespace-nowrap transition-colors duration-100;

        &:hover {
            @apply text-blue-500;
        }
    }

    .navbar-toggle {
        @apply relative z-40 block cursor-pointer;
        @apply lg:hidden;

        & span {
            @apply absolute left-0 block w-full h-px border-t border-b border-current bg-current box-content pointer-events-none;
            transition: transform 250ms ease-in-out, opacity 150ms ease-in-out, fill 150ms ease-in-out;
            transform: translate3d(0, 0, 0) rotate(0);
            transform-origin: 100% 50%;

            &:nth-of-type(1) {
                @apply top-0;
            }

            &:nth-of-type(2) {
                top: 50%;
                transform: translate3d(0, -50%, 0) rotate(0);
                transform-origin: 50% 50%;
            }

            &:nth-of-type(3) {
                @apply bottom-0;
            }
        }
    }

    .is-active .navbar-toggle {
        & span:nth-of-type(1) {
            transform: translate3d(0, -22%, 0) rotate(-45deg);
        }

        & span:nth-of-type(2) {
            @apply opacity-0;
            transform: translate3d(0, -50%, 0) rotate(180deg);
        }

        & span:nth-of-type(3) {
            transform: translate3d(0, 22%, 0) rotate(45deg);
        }
    }
}
