.component-image-overlay {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: color(grey, mid-dark);
        opacity: .6;
    }
}
