<div class="py-2">
    <div class="container text-center">
        <div class="text-sm tracking-wider">
            <span class="block sm:inline">&copy; {{ now|date('Y') }} {{ systemName }}</span>
            <span class="hidden sm:inline">|</span>
            {% if not footer.privacyPolicy.isEmpty %}
                {{ footer.privacyPolicy.link }} |
            {% endif %}
            {% if not footer.termsOfUse.isEmpty %}
                {{ footer.termsOfUse.link }} <span class="hidden sm:inline">|</span>
            {% endif %}
            <span class="block sm:inline">Site by <a href="https://www.mostlyserious.io" target="_blank">Mostly Serious</a></span>
        </div>
    </div>
</div>
