{% import 'helpers/_macros.twig' as macros %}

<div class="py-2">
    <div class="container text-center">
        <div class="text-sm tracking-wider">
            <span class="block sm:inline">&copy; {{ now|date('Y') }} {{ seomatic.site.siteName }}</span>
            {% if legal.menu|length %}
                <menu class="inline-flex flex-wrap gap-2">
                    {% for item in legal.menu %}
                        <li class="hidden sm:inline">|</li>
                        {{ macros.link(item, {}, 'li') }}
                    {% endfor %}
                </menu>
            {% endif %}
            <span class="hidden sm:inline">|</span>
            <span class="block sm:inline">Site by <a href="https://www.mostlyserious.io" target="_blank">Mostly Serious</a></span>
        </div>
    </div>
</div>
