{# Wrapped in <header> in _base.twig #}

{% import 'helpers/_macros.twig' as macros %}

{% set title = block and block.heading|striptags('<strong><span><em><br><a>')|trim
    ? block.heading
    : entry.title %}

<section class="relative">
    <div class="relative grid items-center bg-gradient-to-br from-zinc-900 to-zinc-700 bg-center bg-cover">
        <div class="relative py-12 md:py-24">
            <div class="container text-white">
                <div class="grid gap-6 text-center">
                    {% if block and block.label|trim %}
                        <p class="text-lg text-indigo-300 tracking-wide font-bold uppercase">
                            {{ block.label }}
                        </p>
                    {% endif %}
                    <h1 class="inline-block text-4xl md:text-5xl font-semibold">
                        {{ title|striptags('<strong><span><br>')|trim|raw }}
                    </h1>
                    {% if block and block.buttons|length %}
                        <div class="flex justify-center gap-4 mt-4">
                            {% for button in block.buttons %}
                                {{ macros.link(button, {
                                    class: loop.first
                                        ? 'button button-white'
                                        : 'button button-white button-outline'
                                }) }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
