{# Wrapped in <header> in _base.twig #}

{% import 'helpers/_macros.twig' as macros %}

{% set title = block and block.heading|striptags('<strong><span><em><br><a>')|trim
    ? block.heading
    : entry.title %}

<section class="relative">
    <div class="relative grid items-center bg-gradient-to-br from-zinc-900 to-zinc-700 bg-center bg-cover">
        <div class="relative py-12 md:py-24">
            <div class="container text-white">
                <div class="grid gap-6 text-center">
                    {% if block and block.label|trim %}
                        <p class="text-lg text-indigo-300 tracking-wide font-bold uppercase">
                            {{ block.label }}
                        </p>
                    {% endif %}
                    <h1 class="inline-block text-4xl md:text-5xl font-semibold">
                        {{ title|striptags('<strong><span><br>')|trim|raw }}
                    </h1>
                    {{ macros.link(block.button|default(null), {
                        class: 'button button-white'
                    }, 'div')|attr({ class: 'pt-2' }) }}
                </div>
            </div>
        </div>
    </div>
</section>
