{% set title = block and block.heading|striptags('<br>')|trim
    ? block.heading
    : entry.title %}

{% set backgroundImage = block.backgroundImage.one|default(null) %}

{% set height = entry.section.handle == 'home'
    ? 'min-h-vh-80'
    : 'min-h-vh-60' %}

<section class="relative" role="banner">
    <div class="relative flex flex-col bg-blue-700 bg-center bg-cover {{ height }}"
        {% if backgroundImage %}
            style="background-image: url({{ backgroundImage.url('header') }})"
        {% endif %}>
        <div class="relative py-24 my-auto">
            <div class="container relative pt-12 text-white">
                <div class="max-w-4xl text-center">
                    <h1 class="inline-block text-6xl md:text-7xl font-bold uppercase">
                        {{ title|striptags('<strong><span><br>')|trim|raw }}
                    </h1>
                    {% if not block.button.isEmpty|default(true) %}
                        <div class="mt-6 md:mt-10">
                            {{ block.button.link({
                                class: 'button button-white'
                            }) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
