@charset "UTF-8";

@import "utilities";
@import "components/button";
@import "components/container";
@import "components/navbar";
@import "components/video";
@import "components/wysiwyg";

@custom-selector :--headings h1, h2, h3, h4, h5, h6;

@layer base {
    html {
        @apply antialiased bg-white;
        font-size: 16px;
        text-rendering: geometricPrecision;

        @screen sm {
            font-size: 18px;
        }
    }

    body {
        @apply bg-white text-gray-900;

        & :--headings {

        }

        & img {
            @apply select-none;
        }

        & a {
            @apply font-bold;
        }

        & a:focus,
        & button:focus {
            @apply outline-none;
        }

        &.is-tabbing {
            & .focusable:focus,
            & [tabindex="0"]:focus {
                @apply outline-none ring-2 ring-brand-orange rounded;
            }
        }

        & x-svelte {
            display: contents;
        }
    }
}

@layer components {
    #skip-to-content {
        @apply absolute top-0 left-0 z-50 inline-block m-2 px-2 py-0.5 font-bold bg-white rounded;
    }

    #skip-to-content:not(:focus) {
        @apply sr-only;
    }
}
