{% set entry = craft.entries
    .slug(craft.app.response.statusCode)
    .section('error')
    .one %}

{% do seomatic.meta.seoTitle(craft.app.response.statusCode) %}
{% do seomatic.meta.siteNamePosition('after') %}

{% if entry %}
    {% include 'entries/_index' %}
{% else %}
    <p>{{ craft.app.response.statusCode }}</p>
{% endif %}
