{% extends 'layouts/main.twig' %}

{# Starter Welcome Screen for MS Craft - Feel free to scrap contents of main block below #}
{% block main %}
<style>
.ms-craft__index-wrapper {
  text-align: center;
  height: 60vh;
  margin: 20vh 0;
}

.ms-craft__logo-wrapper {
  height: 200px;
}

.ms-craft__logo-wrapper svg {
  max-height: 100%;
}

.ms-craft__heading {
  font-weight: 200;
  font-size: 30px;
  font-family: sans-serif;
  letter-spacing: 1px;
  width: fit-content;
  margin: 0 auto;
}
.ms-craft__heading::after {
  content: "";
  top: 0;
  display: block;
  width: 100%;
  height: 3px;
  margin-top: 5px;
  background: linear-gradient(90deg, rgba(244,93,31,1) 0%, rgba(237,73,103,1) 100%);
}
</style>

<div class="ms-craft__index-wrapper">
  <div class="ms-craft__logo-wrapper">
    <svg enable-background="new 0 0 787.5 715.5" viewBox="0 0 787.5 715.5" xmlns="http://www.w3.org/2000/svg"><path d="m445.5 283.5c4.1-31.5 18-104.6 13.5-109.1-9-4.5-22.5-4.5-31.5 0-4.5 4.5-13.5 22.5-27 40.5-7.6 10.2-9 9-13.5 0s-13.5-31.5-18-40.5c-9-4.5-22.5-4.5-31.5 0-4.5 4.5-22.1 108.1-31.5 139.5-13.5 45-31.5 94.5-67.5 94.5-18 0-36-18-36-45s13.8-52.3 45-58.5c22.5-4.5 22.5-36 0-36-18 0-45 4.5-67.5 31.5s-27.8 74.9-9 112.5c13.5 27 45 40.5 67.5 40.5 13.5 0 45-4.5 72-45 18-27 32-76.4 36-94.5 9-40.5 13.5-72 13.5-72s4.5 9 13.5 22.5 13.5 9 22.5 0 22.5-22.5 22.5-22.5-16.5 58.6-13.5 99c4.5 59.6 54 77.6 90 77.6 45 0 66.8-13.7 71.3-18.2s12-22.2 9-40.5c-4.5-27-27-45-58.5-45-22.5 0-49.5 13.5-54 40.5-5.2 31.4 28.4 47 49.5 76.5 22.5 31.5 27.6 56.6 22.5 72-4.5 13.5-13.5 27-36 27-18 0-40.6-9.4-45-31.5-4.5-22.5 5-32.5 9-40.5 9-18-13.5-36-27-22.5-6.4 6.4-19.3 22.3-22.5 45-4.5 31.5 2.1 55.7 27 76.5 27 22.5 72 22.5 94.5 9 17.3-10.4 45-36 40.5-85.5-2.4-26.9-22.5-54-36-72s-36-34.9-36-45c0-13.5 9-18 18-18 13.5 0 27 9 22.5 27-3.8 4.7-26.3 13.7-57.8 9.2-32.4-4.6-49.5-30.4-40.5-99z" fill="#f45d20"/></svg>
  </div>
  <h1 class="ms-craft__heading">
    Welcome to your new MS Craft site!
  </h1>
</div>
{% endblock %}